*{
    padding: 0;
    margin: 0;
}
.main{
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    height: 80vh;
    margin: auto;
    background: linear-gradient(0deg, rgba(6, 6, 7, 0.432), rgba(6, 6, 7, 0.644)), url(/images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header{
    width: 100%;
    height: 80vh;
    width: 80%;
    height: 20vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    width: 30%;
    margin-right: 70px;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
}
.message{
    width: 30%;
    height: 40vh;
    margin-left: 8.3rem;
    margin-top: 4rem;
    padding-left: 35px;
    border: 2px solid hsl(0, 0%, 100%);
}
.message h1{
    font-size: 65px;
    color: hsl(0, 0%, 100%);
}


/* -----------next section----------- */

.content{
    width: 100%;
    background-color: hsl(0, 0%, 100%);    
}
.over{
    width: 80%;
    height: 60vh;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    width: 50%;
    position: relative;
}
.left img{
    width: 100%;
    height: 60vh;
}
.right{
    width: 35%;
    height: 35vh;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 25px;
    position: absolute;
    right: 14rem;
    top: 47rem;
    background-color: hsl(0, 0%, 100%);
}
.right h2{
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.right p{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 1rem;
}
.small_container{
    width: 100%;
}
.carry{
    width: 80%;
    height: 20vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aside h1{
    font-size: 45px;
    font-weight: 100;
}
.aside2 button{
    width: 120px;
    height: 40px;
    background-color: transparent;
    border: 2px solid black;
}
.section{
    width: 100%;
}
.images1{
    width: 80%;
    margin: auto;
    display: flex;
    column-gap: 2rem;
}
.images2{
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 2rem;
    column-gap: 2rem;
}
.same{
    color: aliceblue;
    font-size: 40px;
    margin-top: 19rem;
    text-align: center;
}
.col1{
    width: 25%;
    height: 60vh;
    background: linear-gradient(0deg, rgba(6, 6, 7, 0.432), rgba(6, 6, 7, 0.644)), url(/images/desktop/image-deep-earth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.col2{
    width: 25%;
    height: 60vh;
    background: linear-gradient(0deg, rgba(6, 6, 7, 0.432), rgba(6, 6, 7, 0.644)), url(/images/desktop/image-night-arcade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.col3{
    width: 25%;
    height: 60vh;
    background: linear-gradient(0deg, rgba(6, 6, 7, 0.432), rgba(6, 6, 7, 0.644)), url(/images/desktop/image-soccer-team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.col4{
    width: 25%;
    height: 60vh;
    background: linear-gradient(0deg, rgba(6, 6, 7, 0.432), rgba(6, 6, 7, 0.644)), url(/images/desktop/image-grid.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.col5{
    width: 25%;
    height: 60vh;
    background: linear-gradient(0deg, rgba(6, 6, 7, 0.432), rgba(6, 6, 7, 0.644)), url(/images/desktop/image-from-above.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.col6{
    width: 25%;
    height: 60vh;
    background: linear-gradient(0deg, rgba(6, 6, 7, 0.432), rgba(6, 6, 7, 0.644)), url(/images/desktop/image-pocket-borealis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.col7{
    width: 25%;
    height: 60vh;
    background: linear-gradient(0deg, rgba(6, 6, 7, 0.432), rgba(6, 6, 7, 0.644)), url(/images/desktop/image-curiosity.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.col8{
    width: 25%;
    height: 60vh;
    background: linear-gradient(0deg, rgba(6, 6, 7, 0.432), rgba(6, 6, 7, 0.644)), url(/images/desktop/image-fisheye.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.footer{
    width: 100%;
    height: 15vh;
    margin-top: 5rem;
    background-color: black;
}
.fot1{
    width: 80%;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-link{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copy{
    color: aliceblue;
}

@media only screen and (max-width: 1000px) {
    .header{
    width: 80%;
    height: 20vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    nav{
        width: 30%;
    }
    nav ul{
        display: flex;
        column-gap: 19px;
        justify-content: space-between;
    }
    .message{
        width: 30%;
        height: 30vh;
        margin-left: 6rem;
        margin-top: 4rem;
        padding-left: 35px;
        border: 2px solid hsl(0, 0%, 100%);
    }
    .message h1{
        font-size: 55px;
        color: hsl(0, 0%, 100%);
    }

    /* ------next face----- */
    .right{
        width: 35%;
        height: 35vh;
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 25px;
        position: absolute;
        right: 9rem;
        top: 45.6rem;
        background-color: hsl(0, 0%, 100%);
    }
    .same{
        color: aliceblue;
        font-size: 30px;
        margin-top: 19rem;
        text-align: center;
    }
}

@media only screen and (max-width: 920px) {
    .header{
    width: 80%;
    height: 20vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    nav{
        width: 30%;
    }
    nav ul{
        display: flex;
        column-gap: 19px;
        justify-content: space-between;
    }
    .message{
        width: 30%;
        height: 35vh;
        margin-left: 6rem;
        margin-top: 4rem;
        padding-left: 5px;
        border: 2px solid hsl(0, 0%, 100%);
    }
    .message h1{
        font-size: 43px;
        color: hsl(0, 0%, 100%);
    }

    /* ------next face----- */
    .left{
        width: 60%;
        position: relative;
    }
    .right{
        width: 40%;
        height: 35vh;
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 25px;
        position: absolute;
        right: 2rem;
        top: 45.6rem;
        background-color: hsl(0, 0%, 100%);
    }
    .right h2{
        font-size: 40px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 100;
    }
    .right p{
        font-size: 11px;
        font-family:Arial, Helvetica, sans-serif;
        margin-top: 1rem;
    }
    .same{
        color: aliceblue;
        font-size: 30px;
        margin-top: 19rem;
        text-align: center;
    }
}
